{% extends 'base.html.twig' %}

{% block body %}
    <h1>Naujausi skelbimai</h1>

    {% for item in ads %}
        <div class="col-md-8 post">
            <div class="row title">
                <div class="col-xs-12 col-sm-6 col-md-10">
                    <h3> {{ item.title }} </h3>
                </div>

                <div class="col-xs-6 col-md-2">
                   <span class="label label-info date">{{ item.postingDate }}</span>
                </div>
            </div>
            <p> {{ item.description }}</p>

            <div class="author pull-right">
                Autorius: <b>{{ item.userAdded.username }}</b>
            </div>
        </div>
    {% endfor %}
{% endblock %}